<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achilles.server.dao.DiaryDao">
  <resultMap id="BaseResultMap" type="com.achilles.server.entity.Diary">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="pace" jdbcType="INTEGER" property="pace" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>

  <sql id="tableName">diary</sql>

  <sql id="Base_Column_List">
    id, uuid, title, content, type, user_uuid, remark, pic_url, pace, status, create_date, update_date, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List" />
    from
        <include refid="tableName" />
    where id = #{id,jdbcType=BIGINT} and status = 1
    <if test="userUuid != null and userUuid!=''">
      AND user_uuid = #{userUuid,jdbcType=VARCHAR}
    </if>
  </select>

  <insert id="insert" parameterType="com.achilles.server.entity.Diary" useGeneratedKeys="true" keyProperty="id">
    insert into <include refid="tableName" />
      ( <include refid="Base_Column_List" />)
    values
      (
      #{id,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{userUuid,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR},#{picUrl,jdbcType=VARCHAR}, #{pace,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
      #{updateDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.achilles.server.entity.Diary">
    update <include refid="tableName" />
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pace != null">
        pace = #{pace,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="whereCondition">
    <where>
      status = 1
      <if test="userUuid != null and userUuid!=''">
        AND user_uuid = #{userUuid,jdbcType=VARCHAR}
      </if>
      <if test="title != null and title!=''">
        AND title like concat('%', #{title},'%')
      </if>
      <if test="content != null and content!=''">
        AND content like concat('%', #{content},'%')
      </if>
      <if test="remark != null and remark!=''">
        AND remark like concat('%', #{remark},'%')
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=INTEGER}
      </if>
      <if test="pace != null">
        AND pace = #{pace,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createTimeStart != null">
        AND create_time &gt;= #{createTimeStart,jdbcType=BIGINT}
      </if>
      <if test="createTimeEnd != null">
        AND create_time &lt;= #{createTimeEnd,jdbcType=BIGINT}
      </if>
    </where>
  </sql>

  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from
    <include refid="tableName" />
    <include refid="whereCondition"/>
      order by id desc limit #{offSet,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="count" parameterType="java.util.Map" resultType="long">
    select
      COUNT(*)
    from
    <include refid="tableName" />
    <include refid="whereCondition"/>
  </select>
</mapper>